
iframe{
    width:500px;
    height:380px;
    border:none;
    overflow: hidden;
}

.hide{display:none;}

.fixed{position: fixed;}
.abs{position: absolute;}
.rel{position: relative;}

.bg1{background:#a5a5a5;}

#audio{
    margin-top: -10000px;
}
#controlBar{
    width:100%;
    bottom:0%;
}
#controlBar button{
    font-size: 2em;
    margin-bottom:  10px;
}