extend layout
block content
    #header
        h2.color0
            | The Rover
    #navBar.abs
        button(id='reset' class='btn btn-primary') Reset Stream
    #streamWrap
        iframe(src='/video' id='stream')
        #controlBar
            .btn-group
                button(id='left' class='btn btn-default') 
                    | <span class="glyphicon glyphicon-chevron-left"></span>
                button(id='forward' class='btn btn-default')
                    | <span class="glyphicon glyphicon-arrow-up"></span>
                button(id='right' class='btn btn-default')
                    | <span class="glyphicon glyphicon-chevron-right"></span>
            button(id='stop' class='btn btn-danger') 
                | <span class="glyphicon glyphicon-remove-circle"></span>
                
                
                