

<!-- video-->
<object width="470" height="320"> <param name="movie" value="http://osmf.org/dev/2.0gm/StrobeMediaPlayback.swf"></param><param name="flashvars" value="src=rtmp%3A%2F%2F184.173.103.51%3A31002%2Frovervideo%2Fmystream&autoPlay=true"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="direct"></param><embed src="http://osmf.org/dev/2.0gm/StrobeMediaPlayback.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="direct" width="470" height="320" flashvars="src=rtmp%3A%2F%2F184.173.103.51%3A31002%2Frovervideo%2Fmystream&autoPlay=true"></embed></object>
<!-- audio-->
<object width="470" height="320"> <param name="movie" value="http://osmf.org/dev/2.0gm/StrobeMediaPlayback.swf"></param><param name="flashvars" value="src=rtmp%3A%2F%2F184.173.103.51%3A31002%2Froveraudio%2Fmystream&autoPlay=true"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="direct"></param><embed src="http://osmf.org/dev/2.0gm/StrobeMediaPlayback.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="direct" width="470" height="320" flashvars="src=rtmp%3A%2F%2F184.173.103.51%3A31002%2Froveraudio%2Fmystream&autoPlay=true"></embed></object>


<div class="fixed " id="controlBar">
    <div class="btn-group">
      <button id="left" type="button" class="btn btn-default">Left</button>
      <button id="forward" type="button" class="btn btn-default">Forward</button>
      <button id="reverse" type="button" class="btn btn-default">Reverse</button>
      <button id="right" type="button" class="btn btn-default">Right</button>
    </div>
    <button id="stop" type="button" class="btn btn-danger">Stop</button>
</div>
    
<script type="text/javascript">
    

    var Command = {
        on:false,
        connect: function(){
            this.socket = io.connect(Settings.host, {port: Settings.command_port});
        },
        blink: function(){
            this.on = !this.on;
            this.socket.emit('blink', {on:this.on});
        },
        forward: function(){
            this.socket.emit('forward');
        },
        left: function(){
            this.socket.emit('left');
        },
        right: function(){
            this.socket.emit('right');
        },
        reverse: function(){
            this.socket.emit('reverse');
        },
        stop: function(){
            this.socket.emit('stop');
        }
    };
    Command.connect();
    
    Command.socket.on('blink', function(data){
        console.log('Blink command recieved: ', data['on']);
    });
    
    $('#forward').on('click', function(){
        Command.forward();
    });
    $('#left').on('click', function(){
        Command.left();
    });
    $('#right').on('click', function(){
        Command.right();
    });
    $('#reverse').on('click', function(){
        Command.reverse();
    });
     $('#stop').on('click', function(){
        Command.stop();
    });
    
</script>
