extend layout
block title
    | The Rover
block content
    #navBar.abs
        button(id='reset' class='btn btn-primary') Reset Stream
    #streamWrap.center
        iframe(src='/video' id='stream')
        #controlBar
            .btn-group
                button(id='left' class='btn btn-default') 
                    | <span class="glyphicon glyphicon-chevron-left"></span>
                button(id='forward' class='btn btn-default')
                    | <span class="glyphicon glyphicon-arrow-up"></span>
                button(id='right' class='btn btn-default')
                    | <span class="glyphicon glyphicon-chevron-right"></span>
            button(id='stop' class='btn btn-danger') 
                | <span class="glyphicon glyphicon-remove-circle"></span>
            .info
                | you can use arrow keys too
                
                
                