!!!5
html
    head
        title Http Rover
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/css/main.css')
        script(src='/js/utils.js')
        script(src='/js/settings.js')
        script(src='/js/main.js')
    body
        #wrap
            block content
        #footer
            #container
                p(class='muted credit' class='color0')
                    a(href='mailto:conorpp@vt.edu') Conor Patrick
                    | .
        