<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=320, initial-scale=1"/>
        <title>Http Rover</title>
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/mediaElement/mediaelementplayer.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script src="/js/jsmpg.js" ></script>
        <script src="/js/utils.js" ></script>
        <script src="/js/settings.js" ></script>
        <style type="text/css">
                body {
                        background: #333;
                        text-align: center;
                        margin-top: 10%;
                }
                button{
                    padding:25px;
                }
        </style>
    </head>
    <body>
        
        {{{body}}}
        
        <footer>

        </footer>
    </body>
</html>