<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=320, initial-scale=1"/>
        <title>jsmpeg streaming</title>
        <script src="/js/jsmpg.js" ></script>
        <script src="/js/utils.js" ></script>
        <script src="/js/settings.js" ></script>
        <script src="http://localhost:4000/socket.io/socket.io.js"></script>
        <style type="text/css">
                body {
                        background: #333;
                        text-align: center;
                        margin-top: 10%;
                }
                button{
                    padding:25px;
                }
        </style>
    </head>
    <body>
        
        {{{body}}}
        
        <footer>

        </footer>
    </body>
</html>